/** Table Of Contents
*
*   Body
*   Navigation
*   Main
*   Footer
*
**/


/*    Body    */
body {
    background-color: black;
    > * {
        background-color: rgb(53, 53, 53);
    }
}

/* Scrollbar  customization */
body::-webkit-scrollbar {
    width: 12px;
}
body::-webkit-scrollbar-track {
    background:rgb(53, 53, 53);
    border-radius: 20px;
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(165, 165, 165);
    border-radius: 20px;
}

.content{
    margin: 6px 10px;
    padding: 5px 3px;
    border: 1px solid black;
    border-top:none;
    border-bottom:none;
    border-radius: 5%;
}

/* Afterglow effect */
.shadow{
    box-shadow: 
        0 0 10px rgba(255, 0, 255, 0.5),
        0 0 20px rgba(255, 0, 255, 0.5),
        0 0 30px rgba(255, 0, 255, 0.5), 
        0 0 40px rgba(255, 0, 255, 0.8);
}

/*    Navigation    */

nav ul {
    padding: 20px 8px;
    margin: auto;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    max-width: 600px;
    border: 2px solid black;
    border-radius: 9999999px;
}

nav ul li {
    flex-grow: 1;
    text-align: center;
    a{
        color: silver;
        text-decoration: none;
        font-size: 16px;
        transition: color .5s;
    }
    a:hover{
        color: rgb(255, 0, 255);
    }
}

/*    Main    */
main {
    display: flex;
    flex-direction: row;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    min-height: 400px;
}

#body {
    display: flex;
    flex-direction: column;
}

.center{
    text-align: center;
}

.col{
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    > *{
        flex-grow:1;
    }
}

.row{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    > *{
        flex-grow:1;
    }
}

/*    Footer    */
footer {
    border-top: 1.5px solid black;
    display: flex;
    flex-direction: row;

    >ul {
        list-style-type: none;
    }
}
